* {
  box-sizing: border-box;
}
.console {
  background-color: #333;
  color: #fff;
  font-family: monospace;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}

.console-header {
  background-color: #222;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.console-body {
  padding: 10px;
}

.console-input {
  background-color: #222;
}

.console-input > input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: monospace;
  width: 200px;
  margin-right: 10px;
}

button {
  font-family: monospace;
}

.console-output {
  white-space: pre;
  margin-bottom: 5px;
}
